.formContainer
{
  display: flex;
  justify-content: center;
}
.searchButton
{
  background: #8A00F6;
  color: white;
  padding: 5px 8px;
  font-family: Arial, Helvetica, sans-serif; 
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.1);
  outline-color: lightgray !important;
  border-radius: 2.5px !important;
}
.searchBox
{
  border-radius: 0px !important;
  font-family: Arial, Helvetica, sans-serif; 
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.1);
  outline-color: lightgray !important;
}
