.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container
{
  display: flex;
  justify-content: center;
}
.searchButton
{
  background: #8A00F6;
  color: white;
  padding: 1px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif; 
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.1);
  outline-color: lightgray !important;
  border-radius: 2.5px !important;
}
.searchBox
{
  border-radius: 0px !important;
  font-family: Arial, Helvetica, sans-serif; 
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.1);
  outline-color: lightgray !important;
}
